.comment_container{
    margin:8px 0px;
    border-radius: 1px;
    border-bottom:1px solid #3d405b;
    display:flex;
    align-items: flex-start;
    flex-direction: row;
    width:70%;
    max-width: 780px;
}
.img_container{
    padding: 10px 30px;
    height:50%;
}
.img_container img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.comment{
    display:flex;
    flex-direction: column;
    width:100%;
}
.comment_header{
    display:flex;
    padding:5px 10px;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
}
.comment_header p{
    font-family: "Lora", serif;
    text-transform: lowercase;
    font-size: 16px;
    color: #001219;
}
.comment_text{
    padding:0px 8px;
    width:100%;
}
.comment_text p{
    font-family: "Lora", serif;
    font-size: 16px;
    color: #001219;
    text-transform: lowercase;
}
.deleteComment{
    width:100%;
    padding:10px 5px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.deleteComment i{
    color: #ccc5b9;
    cursor:pointer;
    transition: ease 0.4s;
}
.deleteComment i:hover{
    transform: scale(1.5);
    color:#e63946;
}