.loginBtn {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}
.loginBtn button {
  width: 150px;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: "Lora", serif;
  text-transform: capitalize;
  font-size: 20px;
  outline: none;
  border: 1px solid #2b2d42;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2b2d42;
  cursor: pointer;
  transition: all 0.3s;
}
.loginBtn button:hover {
  background-color: #ffffff;
  color: #2b2d42;
}
.loginBtn span {
  font-family: "Lora", serif;
  text-transform: capitalize;
  font-size: 15px;
  color: #2b2d42;
  cursor: pointer;
}
