.write {
  display: flex;
  flex-direction: row;
  margin: 30px;
}
form {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 40px;
}
.textContainer {
  flex: 5;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoriesContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.imgContainer input[type="file"] {
  display: none;
}
.imgContainer img {
  object-fit: cover;
  width: 80%;
  height: 50%;
  align-self: center;
  border: 1px solid #adb5bd;
  border-radius: 10px;
}
.fileUploadLabel {
  align-self: center;
  width: 80%;
  padding: 20px;
  text-align: end;
  font-size: 18px;
  text-transform: capitalize;
  color: #2b2d42;
  font-family: "Lora", serif;
  cursor: pointer;
}
.textContainer input[type="text"],
textarea {
  padding: 20px;
  border: 2px solid #adb5bd;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
  font-family: "Lora", serif;
  color: #2b2d42;
  font-size: 18px;
  width: 75%;
  align-self: center;
}
.textContainer input[type="text"] {
  font-size: 30px;
}
.checkboxs {
  flex: 3;
}

.checkboxs h4,
.textContainer h3 {
  margin: 20px;
  text-transform: capitalize;
  font-family: "Lora", serif;
  color: #adb5bd;
  font-size: 25px;
}
.publishBtn {
  flex: 4;
  padding: 30px;
}
.publishBtn button {
  padding: 10px 20px;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #2b2d42;
  background-color: #2b2d42;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.publishBtn button:hover {
  color: #2b2d42;
  background-color: #ffffff;
}
.publish_success{
  margin : 20px 0px;
  text-transform : capitalize;
  font-size: 18px;
  color:#76c893;
  font-family: "Lora", serif;
}
  