.header {
  margin-top: 60px;
  background-image: url(../../images/blog_cover.jpg);
  background-position: center center;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inconsolata", monospace;
  color: #001219;
}
.headerTitleSm {
  font-size: 40px;
  font-family: "Indie Flower", cursive;
}
.headerTitlelg {
  font-size: 100px;
}
