.infoContainer {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-family: "Lora", serif;
  color: #2b2d42;
  text-transform: capitalize;
  font-size: 25px;
  padding: 20px;
}
.profilImgContainer {
  width: 70%;
  display: flex;
  align-items: baseline;
  margin: 20px;
  padding: 10px;
}
.profilImgContainer img {
  object-fit: cover;
  width: 20%;
  height: 50%;
}
.profilImgContainer input[type="file"] {
  display: none;
}
.profilImgContainer label {
  text-transform: capitalize;
  color: #2b2d42;
  font-size: 16px;
  font-family: "Lora", serif;
  cursor: pointer;
  padding: 10px;
}
.bioArea{
  align-self: flex-start;
  width:50%;
  height: 50%;
  margin-top:20px;
  margin-left: 20px;
  padding:20px;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bioArea textarea{
  width:90%;
  height: 100px;
  padding: 20px;
  border: 1px solid #2b2d42;
  border-radius: 10px;
  font-family: "Lora", serif;
  color: #2b2d42;
  box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
  outline: none;
  transition: ease 0.3s;
}
.accountInfo {
  display: flex;
  margin: 20px;
  width: 80%;
}
.name_email {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.password {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.accountInfo label {
  padding: 10px;
  color: #2b2d42;
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: capitalize;
}
.accountInfo input {
  padding: 20px;
  width: 50%;
  border: 1px solid #2b2d42;
  border-radius: 10px;
  font-family: "Lora", serif;
  color: #2b2d42;
  box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
  outline: none;
  transition: ease 0.3s;
}
.accountInfo input,
label {
  margin-left: 15px;
}
.accountInfo button {
  margin-top: 30px;
  margin-left: 20px;
  width: 250px;
  padding: 20px 10px;
  font-family: "Lora", serif;
  text-transform: capitalize;
  font-size: 20px;
  outline: none;
  border: 1px solid #2b2d42;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2b2d42;
  cursor: pointer;
  transition: all 0.3s;
}
.accountInfo button:hover {
  background-color: #ffffff;
  color: #2b2d42;
}
.success{
  padding:30px;
  font-family: "Lora", serif;
  text-transform: capitalize;
  font-size: 15px;
  color:#76c893;
}