.login_form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
.login_form label {
  padding: 10px;
  color: #2b2d42;
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: capitalize;
}
.login_form input {
  padding: 12px 16px;
  width: 70%;
  border: 1px solid #2b2d42;
  border-radius: 4px;
  color: #2b2d42;
  font-family: "Lora", serif;
  font-size: 16px;
  box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
  outline: none;
  transition: ease 0.3s;
}
.login_form .btn_container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
