form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}
form label {
  padding: 10px;
  color: #2b2d42;
  font-family: "Lora", serif;
  font-size: 18px;
  text-transform: capitalize;
}
form input {
  padding: 12px 16px;
  width: 70%;
  border: 1px solid #2b2d42;
  border-radius: 4px;
  color: #2b2d42;
  font-family: "Lora", serif;
  font-size: 16px;
  box-shadow: 0.2em 0.3em 0.5em rgba(0, 0, 0, 0.2);
  outline: none;
  transition: ease 0.3s;
}
.names input {
  width: 90%;
}
.names {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name:first-child {
  padding-right: 20px;
}
.name:last-child {
  padding-left: 20px;
  padding-right: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
